# Папки с кэшем Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Папка виртуального окружения
# Замените 'env' на имя вашей папки, если оно другое (например, venv)
env/
venv/
.venv/

data/MNIST/raw
data/

# Системные файлы macOS и других ОС
.DS_Store

# Файлы конфигурации IDE (редакторов кода)
.idea/
.vscode/
